// Variables
$header_color: #024059;
$footer_color: #024059;
$card_header_color_desde: #1c7fa6;
$card_header_color_hasta: #a7d5f2;
$card_body_color: #edf1fa;
$font_color_claro: #edf1fa;
$font_color_oscuro: #0d0d0d;
$btn_primary_color: #1c7fa6;
$border_color: #024059;
$footer_span_color: #1c7fa6;
$toogler_color: #edf1fa;
