html{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

}

body {
  background-color: #012840;
  margin: 25px;
  height: 100vh;
  color: #F2FDFF;
}

h1 {
  font-weight: bold;
  text-transform: uppercase;
}

input,label{
  margin: 2px;
}

.noticias {
  overflow: auto;
}

p {
  color: #f4f7ff;
  text-align: justify;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  line-height: 20px;
}

ol {
  list-style-type:decimal-leading-zero:
}



h2 {
  font-style: italic;
  text-decoration: underline;
}

.menu{
  display: flex;
  align-items: center;
}

.cabecera{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(to bottom, #175973 , #2999A6);
  height: 20vh;
}


.logo{
  background-image: url("https://previews.123rf.com/images/kotokot/kotokot1509/kotokot150900044/45259956-mec%C3%A1nico-en-el-vector-deber-logotipo-de-la-plantilla-.jpg");
  background-size:100% 100%;
  background-repeat:no-repeat;
  background-position: center;
  height: 80%;
  width: 15%;
  margin: 10px 10px;
}

.barraMenu{

  height: 100px;
  width: 70%;
  padding: 20px 10px;
  display: flex;
  justify-content: center;
  align-items: stretch;

  font-family: Raleway;
  margin: 0 auto;
	padding: 10em 3em;
	text-align: center;
}

.barraMenu ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  
}

.barraMenu ul li{
  display: inline-block;
  border-left:solid 2px rgb(255, 255, 255);
 

}

.barraMenu ul li a{
  /*text-decoration: none;
  display: block;
  padding: 15px;*/
  color: #F2F2F2;
  text-decoration: none;
    font: 22px Raleway;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}
 p a {
   color: #D9D9D9;
   font-weight: bold;
   font-size: 15px;
 }
/*.barraMenu ul li a:hover{
  background-color: #7ED9D9;
}*/

div.topBotomBordersIn a:before, div.topBotomBordersIn a:after
{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #FFF;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

div.topBotomBordersIn a:before
{
    top: 0px;
    transform: translateY(-10px);
}

div.topBotomBordersIn a:after
{
    bottom: 0px;
    transform: translateY(10px);
}

div.topBotomBordersIn a:hover:before, div.topBotomBordersIn a:hover:after
{
    opacity: 1;
    transform: translateY(0px);
}



.contenido{
  display: grid;
  overflow: hidden;
  grid-template-areas: 
  "section1 imagenes"
  "section2 imagenes";
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  gap: 20px;
  justify-items: center;
  align-items: center;
  height: 70vh;
}

/*Carrousel*/

.imagenesDestacadas{
  grid-area: imagenes;
  width: 100%;
  max-width: 800px;
  max-height: 600px;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

.radioCarrousel {
  display: none;
}

.card {
  position: absolute;
  width: 60%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform .4s ease;
  cursor: pointer;
}

.cards {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

.imgCarrousel {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

#item-1:checked ~ .cards #song-3, #item-2:checked ~ .cards #song-1, #item-3:checked ~ .cards #song-2 {
  transform: translatex(-40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item-1:checked ~ .cards #song-2, #item-2:checked ~ .cards #song-3, #item-3:checked ~ .cards #song-1 {
  transform: translatex(40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item-1:checked ~ .cards #song-1, #item-2:checked ~ .cards #song-2, #item-3:checked ~ .cards #song-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
  
  img {
    box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
  }
}


.noticias__section1{
  grid-area: section1;
}

.noticias__section2{
  grid-area: section2;
}

.footer{
  display: flex;
  justify-content: space-around;
  color: antiquewhite;
  background-image: linear-gradient(to top, #175973 , #2999A6);
  height: 10vh;
}

.aumentarFontSize:hover{
  font-size: 1.5rem;
  transition: 2s;
}

.acercarImagen{
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}
.acercarImagen:hover{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}